<!-- partials/main.html -->
<div class="page-header">
	<h1>Newest 20</h1>
</div>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Created</th>
			<th>Description</th>
			<th>Completed?</th>
			<th>Owner</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="todo in newestTodos | filter:doneFilter | filter:search.text">
			<td>{{ todo.submitted | date:'medium' }}</td>
			<td>{{ todo.text }}</td>
			<td>
				<span class="label" ng-class="todo.done ? 'label-success' : 'label-warning'">{{todo.done == false ? "Not completed" : "Completed"}}</span>
			</td>
			<td> {{todo._creator.local.username}} </td>
		</tr>
	</tbody>
</table>
