<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="/" class="navbar-brand">Number of todos: {{ todos.length }}</a>
		</div>
		<form class="navbar-form navbar-left" role="search">
			<div class="form-group">
				<div class="col-xs-2">
				<input type="text" class="form-control" placeholder="Search Todos" ng-model="search.text">
				</div>
			</div>
		</form>				
		<div class="btn-group navbar-right navbar-btn">
		  <button type="button" class="btn btn-default" ng-click="doneFilter = ''">All</button>
		  <button type="button" class="btn btn-default" ng-click="doneFilter = {done: false}">Incomplete</button>
		  <button type="button" class="btn btn-default" ng-click="doneFilter = {done: true}">Completed</button>
		</div>				
	</div>
</nav>
<!-- FORM TO CREATE TODOS -->
<div id="todo-form" class="row">
	<div class="col-lg-12">
		<div class="input-group">
			<!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
			<input type="text" class="form-control" placeholder="Add new item" ng-model="todo.text">
			<!-- createToDo() WILL CREATE NEW TODOS -->
			<span class="input-group-btn">
				<button type="submit" class="btn btn-primary" ng-click="createTodo()">Add</button>
			</span>
		</div>
	</div>
</div>

<table class="table table-striped">
	<thead>
		<tr>
			<th>
				Created
				<a href="" ng-click="reverse = !reverse">
					<span class="glyphicon glyphicon-sort"></span>
				</a>
			</th>
			<th>Description</th>
			<th>Completed?</th>
			<th>View Details</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="todo in todos | orderBy: 'submitted':reverse | filter:doneFilter | filter:search.text">
			<td>{{ todo.submitted | date:'medium' }}</td>
			<td>{{ todo.text }}</td>
			<td>
				<span class="label" ng-click="updateTodo(todo._id, {done: !todo.done}, todo)" ng-class="todo.done ? 'label-success' : 'label-warning'" style="cursor:pointer;">{{todo.done == false ? "Not completed" : "Completed"}}</span>
			</td>
			<td>
				<a ui-sref="user.todoDetails({todo_id: todo._id})">Details</a>
			</td>
		</tr>
	</tbody>
</table>